.custom-block.warning a, .content__default a code
	color $accentColor

.mermaid-diagram
	text-align center

	+ .mermaid-diagram
		margin-top 1em

header.hero > img:first-child
	max-width 30em
	height auto

main.home
	.content__default
		ul
			list-style-type none
			padding 0
			display flex
			flex-flow row wrap
			justify-content center
			margin 2em

			> li
				a
					display: inline-block;
					font-size 1.2rem
					color #fff
					background-color #c30045
					padding 0.8rem 1.6rem
					border-radius 4px
					transition background-color 0.1s ease
					box-sizing border-box
					border-bottom 1px solid #b0003e

					&:hover
						background-color #e30050

				+ li
					margin-left 2em
